@use "./variables" as *;

@mixin sm() {
    @media screen and (max-width: $mobile-bp) {
        @content;
    }
}

@mixin md() {
    @media screen and (min-width: $desktop-bp) {
        @content;
    }
}


@mixin container() {
    padding: calc($body-padding / 4);

    padding-block: 4rem;
    
    @include md {
        padding: $body-padding;
    }
}
