@use "./variables" as *;

@mixin sm() {
    @media screen and (max-width: $mobile-bp) {
        @content;
    }
}

@mixin md() {
    @media screen and (min-width: $desktop-bp) {
        @content;
    }
}


/* 
    Extra Small (XS): Typically for smartphones in portrait mode. Width ranges from 0px to 576px.
    Small (SM): Typically for smartphones in landscape mode or small tablets. Width ranges from 576px to 768px.
    Medium (MD): Typically for tablets and larger smartphones. Width ranges from 768px to 992px.
    Large (LG): Typically for laptops and desktops. Width ranges from 992px to 1200px.
    Extra Large (XL): For larger desktop screens. Width starts from 1200px and beyond.
 */


@mixin very-small-screen() {
    @media screen and (max-width: 576px) {
        @content;
    }
}

@mixin small-screen() {
    @media screen and (min-width: 577px) and (max-width: 768px) {
        @content;
    }
}


@mixin medium-screen() {
    @media screen and (min-width: 769px) and (max-width: 992px) {
        @content;
    }
}

@mixin large-screen() {
    @media screen and (min-width: 993px) and (max-width: 1200px) {
        @content;
    }
}

@mixin very-large-screen() {
    @media screen and (min-width: 1200px) {
        @content;
    }
}


@mixin least-small-screen {
    @include very-small-screen {
        @content;
    }

    @include small-screen {
        @content;
    }
}

@mixin least-large-screen() {
    @include medium-screen {
        @content;
    }

    @include large-screen {
        @content;
    }
    @include very-large-screen {
        @content;
    }
}




@mixin container() {
    padding: calc($body-padding / 4);

    padding-block: 4rem;
    
    @include md {
        padding: $body-padding;
    }
}



// Fonts

@mixin fonts($family: $montserrat-font, $weight: 500 ) {
    font-family: $family, sans-serif;
    font-weight: $weight;
    font-optical-sizing: auto;
    font-style: normal;

    @if $family == Inter {
        font-variation-settings: "slnt" 0;
    }   
}

@mixin box-shadow($x: 0, $y: 35px, $blur: 60px, $spread: -15px, $color: hsla(218, 80%, 12%, 0.25)) {
    box-shadow: $x $y $blur $spread $color;
}