@use "./variables" as *;
@use './mixins' as mixins;

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Light.woff2') format('woff2'),
    url('/fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Book.woff2') format('woff2'),
        url('/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Medium.woff2') format('woff2'),
        url('/fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold.woff2') format('woff2'),
        url('/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    width: 100%;
    height: 100%;
    background-color: $clr-text-light;
    color: $clr-text-1;
    overflow-x: hidden;
    font-size: 16px;

    @include mixins.fonts();
}


h1,
h2,
h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    // color: inherit;
    // font-weight: inherit;
    // font-family: inherit;
    // text-align: initial;
}

ul[role="list"] {
    list-style: none;
    padding: 0;
}


img {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.screen_indicator {
    width: max-content;
    padding: 1rem 2rem;

    background-color: rgba(75, 85, 99, 0.795);

    color: $clr-text-light;

    border-radius: .5rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;


    font-size: .9rem;


    &:empty {
        &::before {
            content: "Screen indicator";

            @include mixins.very-small-screen() {
                content: "Very Small Screen max-width: 576px";
            }

            @include mixins.small-screen() {
                content: "Small Screen (min-width: 577px) and (max-width: 768px)";
            }

            @include mixins.medium-screen() {
                content: "Medium Screen (min-width: 769px) and (max-width: 1024px)";
            }

            @include mixins.large-screen() {
                content: "Large Screen (min-width: 1025px) and (max-width: 1200px)";
            }

            @include mixins.very-large-screen() {
                content: "Very Large Screen (min-width: 1200px)";
            }
        }
    }


}

header,
main,
footer {
    width: $screen-size;
    max-width: 100%;

    margin-inline: auto;
}


header {

    position: sticky;
    top: 0;
    background-color: $clr-text-light;
    z-index: 10;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

    ul {
        a {
            text-decoration: none;
            color: $clr-text-1;
        }
    }
}

footer {
    @include mixins.container;
    background-color: $clr6;

    font-size: 1.2rem;
    color: $clr-text-3;
    @include mixins.fonts($family: $inter-font, $weight: 400);

    a {
        text-decoration: none;
        color: inherit;
    }


    h3 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-block: 1rem;

        color: $clr-text-1;
    }



    @include mixins.least-large-screen {
        .footer-wrapper {
            width: 50%;
        }
    }

    .logo {
        width: 5rem;

        @include mixins.least-small-screen {
            // width: 4rem;
            margin-inline: auto;
        }
    }





    ul {
        li {
            padding-block: .6rem;
        }
    }



    nav {
        text-align: center;


        padding-top: 1rem;


        @include mixins.least-large-screen {
            display: flex;
            align-items: center;

            justify-content: center;
            justify-content: space-between;
            text-align: start;
        }
    }

    p {
        margin-block: 1rem;

        @include mixins.least-small-screen {
            text-align: center;
        }
    }


    .socials {
        a {
            $icon-width: 1.5rem;
            display: inline-block;

            width: $icon-width;
            aspect-ratio: 1;

            overflow: hidden;
            text-indent: 200%;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
    }

    .footer_extras,
    .socials {


        display: flex;
        // flex-wrap: wrap;

        justify-content: center;
        margin-block: 2rem;


        @include mixins.least-large-screen {
            justify-content: flex-start;
        }

        gap: 2rem;
    }


    .footer_extras,
    p {
        font-weight: 400;
        font-size: 1rem;
    }

    @include mixins.least-small-screen {

        .footer_extras {
            flex-direction: column;
            text-align: center;
            gap: 1rem;
        }
    }
}