@use "./variables" as *;
@use './mixins' as mixins;
@import "./fonts";

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    width: 100%;
    height: 100%;
    background-color: $clr-text-light;
    color: $clr-text-1;
    overflow-x: hidden;
    font-size: 16px;

    @include mixins.fonts();
}


h1,
h2,
h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    // color: inherit;
    // font-weight: inherit;
    // font-family: inherit;
    // text-align: initial;
}

ul[role="list"] {
    list-style: none;
    padding: 0;
}


img {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.screen_indicator {
    width: max-content;
    padding: 1rem 2rem;

    background-color: rgba(75, 85, 99, 0.795);

    color: $clr-text-light;

    border-radius: .5rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;


    font-size: .9rem;


    &:empty {
        &::before {
            content: "Screen indicator";

            @include mixins.very-small-screen() {
                content: "Very Small Screen max-width: 576px";
            }

            @include mixins.small-screen() {
                content: "Small Screen (min-width: 577px) and (max-width: 768px)";
            }

            @include mixins.medium-screen() {
                content: "Medium Screen (min-width: 769px) and (max-width: 1024px)";
            }

            @include mixins.large-screen() {
                content: "Large Screen (min-width: 1025px) and (max-width: 1200px)";
            }

            @include mixins.very-large-screen() {
                content: "Very Large Screen (min-width: 1200px)";
            }
        }
    }


}

header,
main,
footer {
    width: $screen-size;
    max-width: 100%;

    margin-inline: auto;
}


header {

    position: sticky;
    top: 0;
    background-color: $clr-text-light;
    z-index: 10;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

    ul {
        a {
            text-decoration: none;
            color: $clr-text-1;
        }
    }
}

footer {
    @include mixins.container;

    padding-block: 3.6875rem !important;

    h3 {

        margin-block: 2rem;

    }

    a {
        text-decoration: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        color: inherit;
    }


    .footer-wrapper {
        width: 46.5625rem;
        max-width: 100%;
    }

    .logo {
        width: 9.75rem;
        margin-inline: auto;
        
        @include mixins.least-large-screen {
            width: 4rem;
            margin-inline: 0;
        }
    }

    nav {
        text-align: center;
        padding-top: 1rem;

        ul {
            li {
                // padding-block: .3rem;
                margin-block: 1.5rem;
            }
        }


        @include mixins.least-large-screen {
            display: flex;

            justify-content: space-between;
            text-align: start;

            li {
                padding-block: .6rem;
                margin-block: 1rem;
            }
        }
    }

    .footer_extras,
    .socials {
        display: flex;
    }


    .socials {
        margin-block: 3rem;
        gap: 3rem;

        justify-content: center;
        
        
        @include mixins.least-large-screen {
            justify-content: flex-start;
        }
        
        a {
            display: inline-block;

            width: var(--icon-width, 1.25rem);
            aspect-ratio: 1;

            overflow: hidden;
            text-indent: 200%;
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
            @include mixins.least-large-screen {
                --icon-width: 2.375rem;
            }
        }
    }


    .footer_extras {
        // gap: 4.375rem;
        flex-direction: column;
        text-align: center;
        row-gap: 1.5rem;
        column-gap: 1.5rem;

        @include mixins.least-large-screen {
            flex-direction: row;
            text-align: start;
        }

        
    }


    p {
        margin-block: 2.5rem;
        text-align: center;

        @include mixins.least-large-screen {
            text-align: start;
        }
    }
}