@use "./variables" as *;
@use './mixins' as mixins;


*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    color: $clr-text-4;
    overflow-x: hidden;
}


h1,
h2,
h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    color: inherit;
}

ul[role="list"] {
    list-style: none;
    padding: 0;
}


img {
    width: 100%;
    height: auto;
}