@use "./variables" as *;
@use "./mixins" as mixins;
@import './utils/layout';
@import './utils/text';
@import './utils/btn';


.logo {
    width: 8rem;
}



.f-w {

    @include mixins.fonts($family: $montserrat-font, $weight: 300);
    display: block;
    width: 100% !important;

    figcaption {
        b {
            font-weight: 700;
        }
        font-weight: 300;
        
        font-size: 0.875rem;
        @include mixins.least-large-screen {
            font-size: 1.5rem;
        }
    }
    
    .image-wrapper {
        width: 100% !important;
        img {
            width: 100% !important;
        }
    }
}

.breadcrumb {
    display: flex;
    align-items: center;

    flex-wrap: wrap;

    li {
        display: flex;
        align-items: center;

        
        overflow: hidden;
        text-overflow: ellipsis;
        
        
        @include mixins.least-medium-screen {
            display: none;
        }

        &:not(:last-of-type):after {
            content: "";
            display: inline-block;
            width: .6rem;
            height: .6rem;

            margin-inline: .6rem;

            background-image: url("/icons/chevron.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

// Hambugger
.menu {

    margin-left: auto;

    display: block;
    padding: 1rem;
    width: 2rem;
    height: 2rem;

    background-image: url("/icons/menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: background-image 500ms ease;


    overflow: hidden;

    input[type="checkbox"] {
        width: 0;
    }

    span {
        display: inline-block;
        text-indent: 150%;
    }


    &:has(input[type="checkbox"]:checked) {
        background-image: url("/icons/cross.svg");
    }
}


.underline {

    // --line-width: 4.5%;

    display: block;
    
    &::after {
        content: " ";

        display: block;
        width: var(--line-width, 5rem);
        height: 2px;
        background-color: $clr2;

        border-radius: 3rem;
        // background-color: red;
    }
}



.article-list {
    
    @include mixins.least-large-screen {
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        article {
            &:nth-child(even) {
                margin-block: 0rem !important;
            }
        }
    }

    
    article {
        padding: 2rem;
        
        display: flex;
        flex-direction: column;

        border-radius: 1rem;
        
        &:nth-child(even) {
            margin-block: 2rem;
        }
        
        
        @include mixins.least-large-screen {
            min-height: 32.1875rem;

        }

        .btn {
            margin-inline: 0;
            width: fit-content;
            margin-top: auto;
        }


    }
}


.slider-container {
    // background-color: red;
    position: relative;

    .slick-list {
        max-height: 30rem;
    }
    .slick-slide {
        margin-inline: 1.5rem;
    }


    &:has(.hero) {

        .slick-list {
            max-height: fit-content;
        }

        .slick-slide {
            margin-inline: 0;
        }

        $position-bottom: 20%;
        $right-space: 5rem;


        .slider-arrow {

            opacity: 0 !important;
            // right: 10rem;
            bottom: $position-bottom;


            &[data-next="true"] {
                right: $right-space;
            }
            
            &[data-prev="true"] {
                right: $right-space + 2 * 2;
                // left: 0;
            }


            @include mixins.least-large-screen {
                opacity: 1 !important;
            }
        }

        .slide-range {
            display: block;
            opacity: 0 !important;

            color: $clr-text-light;
            bottom: calc($position-bottom - 3rem);
            right: $right-space;

            z-index: 1;

            display: flex;
            align-items: center;
            gap: .5rem;

            @include mixins.least-large-screen {
                opacity: 1 !important;
            }


            input[type="range"] {
                -webkit-appearance: none;                
                cursor: pointer;
                width: 8rem;
                height: 1px !important;

                border-radius: 3rem;
                &::-webkit-slider-runnable-track.btn,
                &::-moz-range-track {
                    width: 10rem;
                    height: 1px !important;
                    background: $clr-text-light;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    /* Override default look */
                    appearance: none;
                    margin-top: -2px;
                    /* Centers thumb on the track */
                    background-color: $clr-text-light;
                    height: 2px;
                    width: 2rem;
                    border-radius: 5rem;
                }

                &::-moz-range-thumb {
                    border: none;
                    /*Removes extra border that FF applies*/
                    border-radius: 5rem;
                    /*Removes default border-radius that FF applies*/
                    background-color: #5cd5eb;
                    height: 2rem;
                    width: 1rem;
                }
            }
        }


    }


    &:has(.featured-slide) {
        position: static;
        $position-bottom: 20%;
        $right-space: 0rem;

        $position-top: 120%;

        // background-color: red;
    
        .slider-arrow {
            background-image: url("/icons/chevron-2.svg");
            border-color: $clr-text-3;

            // top: $position-top;


            
            // bottom: $position-bottom;
            top: 109%;
            left: 0;
    
    
            &[data-next="true"] {
                left: $right-space + 2 * 2;
            }
            
            &[data-prev="true"] {
                left: $right-space;
            }

        }


        & ~ .slide-cta {
            // top: 2rem;
            // bottom: -1rem;
            position: absolute;
            top: 90%;
            right: 0;
            // right: $right-space * 2;

            &.fs-2 {
                top: 110%;
            }
        }
    }

    &:has(.featured-slide.horizontal) {
        .slick-slide {
            margin-inline: 0rem;
        }
        position: static;
        $position-bottom: 20%;
        $right-space: 0rem;

        $position-top: 120%;

        // background-color: red;
    
        .slider-arrow {
            background-image: url("/icons/chevron-2.svg");
            border-color: $clr-text-3;

            // top: $position-top;


            
            // bottom: $position-bottom;
            top: 109%;
            left: 0;
    
    
            &[data-next="true"] {
                left: $right-space + 2 * 2;
            }
            
            &[data-prev="true"] {
                left: $right-space;
            }

        }


        & ~ .slide-cta {
            // top: 2rem;
            // bottom: -1rem;
            position: absolute;
            top: 90%;
            right: 0;
            // right: $right-space * 2;

            &.fs-2 {
                top: 110%;
            }
        }
    }
}



.slide-range {
    position: absolute;
    @include mixins.fonts($family: $inria-font, $weight: 700);

    display: none;
}

.slide-cta {
    // width: 8.875rem;
    border-radius: 0.25rem;
    padding: .5rem 1rem;
}

.slider-arrow {
    background-color: transparent;

    cursor: pointer;

    border: .5px solid $clr-text-light;
    border-radius: 50%;

    background-image: url("/icons/chevron.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;

    width: 2.5rem;
    height: 2.5rem;

    position: absolute;

    z-index: 1;


    &[data-prev="true"] {
        
        &:disabled {
            opacity: .5;
            border-color: $clr-text-5;
            cursor: not-allowed;
        }
        transform: rotate(-180deg);
    }
    // background-color: red !important;
}



.flist {
    @include mixins.fonts($family: $montserrat-font, $weight: 700);
    font-size: 1.5rem;
    font-style: italic;

    @include mixins.least-medium-screen {
        margin-top: 2rem;
    }
}


.li-inside {
    list-style-position: inside;

    padding-left:0;
}