@use "./variables" as *;
@use "./mixins" as mixins;



.logo {
    width: 8rem;
}


.section-title {

    // text-align: center;
    font-size: 1.3rem;
    display: inline-block;
    text-transform: uppercase;

    &::after {
        content: " ";

        display: block;
        width: 70%;
        height: 2px;
        background-color: $clr2;

        border-radius: 3rem;
        // background-color: red;
    }
}

.btn {
    text-decoration: none;
    display: inline-block;

    padding-block: .7rem;
    padding-inline: 1rem;

    border-radius: .3rem;
    padding: .8rem 1.2rem;

    color: $clr-text-1;

    @include mixins.fonts($family: $inter-font);
    font-weight: 500;

    &-primary {
        background-color: $clr2;
        color: $clr-text-light;
        border: 1px solid $clr-text-light;
    }

    &-light {
        // color: hsla(216, 12%, 84%, 1);
        // padding: .8rem 1.2rem;
        box-shadow: 0 1 2px 0 rgba(6, 25, 56, 0.05);
        background-color: rgba(255, 255, 255, 1);
        margin-inline: auto;
    }

    &-outline {
        border: .5px solid hsla(216, 12%, 84%, 1);
        color: $clr-text-4;
    }

}
