$body-padding: 4rem;


// Colors
$clr1: hsla(98, 49%, 51%, 1);

$clr2: hsla(209, 100%, 21%, 1);

$clr-text-3: hsla(217, 19%, 27%, 1);
$clr-text-4: hsla(215, 28%, 17%, 1);
// Screen size
$desktop-size: 1350px;

// breakpoints
$mobile-bp: 999px;
$desktop-bp: 1000px;
