// Colors
$clr1: hsla(98, 49%, 51%, 1);
$clr2: hsla(209, 100%, 21%, 1);
$clr3: hsla(98, 47%, 24%, 1);
$clr4: hsla(98, 100%, 7%, 1);
$clr5: hsla(98, 1%, 31%, 1);
$clr6: hsla(0, 0%, 95%, 1);
$clr7: hsla(122, 5%, 92%, 1);
$clr8: hsla(218, 11%, 65%, 1);
$clr9: hsla(134, 90%, 96%, 1);
$clr10: hsla(7, 86%, 55%, 1);
$clr11: hsla(16, 88%, 54%, 1);

$clr-hr: hsla(98, 47%, 24%, 1);
$clr-text-light: hsla(0, 0%, 100%, 1);
$clr-text-dark: hsla(0, 0%, 0%, 1);
$clr-text-1: hsla(0, 0%, 12%, 1);
$clr-text-2: $clr2;
$clr-text-3: hsla(217, 19%, 27%, 1);
$clr-text-4: hsla(215, 28%, 17%, 1);
$clr-text-5: hsla(215, 14%, 34%, 1);
$clr-text-6: hsla(98, 60%, 19%, 1);
$clr-text-7: hsla(209, 99%, 11%, 1);
$clr-text-8: hsla(98, 47%, 24%, 1);
$clr-text-9: hsla(98, 100%, 30%, 1);
// $clr-text-10: hsla(209, 100%, 21%, 1);
$clr-text-11: hsla(134, 81%, 27%, 1);

// Screen size
$screen-size: 1900px;
$screen-padding: 5rem;


// Font families
$inter-font: "Inter";
$montserrat-font: "Montserrat";
$inria-font: "Inria Sans";
$gotham-font: 'Gotham';
$poppins: 'Poppins';