
@use "./variables" as *;
@use "./mixins" as mixins;
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./reset";
@import "./utils";


header {

    
    ul {
        display: flex;
        gap: 2rem;
        a {
            text-decoration: none;
            color: $clr-text-1
        }
    }
}


.header-top {
    padding-inline: $body-padding;
    background-color: $clr1;

    padding-block: calc($body-padding / 5);

    display: none;


    a {        
        color: whitesmoke;
        @include mixins.fonts($family: $inter-font);
    }



    @include mixins.md {
        display: block;
    }
}


.header-wrapper {
    display: flex;
    align-items: center;


    padding-inline: calc($body-padding / 2);
    padding-block: calc($body-padding / 3);


    @include mixins.md {
        padding-inline: $body-padding;
    }

    nav {
        margin-left: auto;

        display: none;


        @include mixins.md {
            display: flex;
            gap: 2rem;
            align-items: center;
        }
    }


    .links {
        @include mixins.fonts($family: $inria-font);
        font-size: 1.2rem;
    }

    .btn {
        
        &:first-of-type {
            margin-right: 2rem;
        }
    }


    .menu {

        margin-left: auto;

        display: block;
        padding: 1rem;
        width: 2rem;
        height: 2rem;



        // background-color: red;

        background-image: url("/icons/menu.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        overflow: hidden;

        input[type="checkbox"] {
            width: 0;
        }

        span {
            display: inline-block;
            text-indent: 150%;
        }

        @include mixins.md {
            display: none;
        }
    }
}



footer {
    @include mixins.container;

    font-size: 1.2rem;
    color: $clr-text-3;
    @include mixins.fonts($family: $inter-font, $weight: 400);

    a {
        text-decoration: none;
        color: inherit;
    }


    h3 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-block: 1rem;

        color: $clr-text-1;
    }



    @include mixins.md {
        .footer-wrapper {
            width: 50%;
        }
    }

    .logo {
        width: 5rem;
        @include mixins.sm {
            // width: 4rem;
            margin-inline: auto;
        }
    }





    ul {
        li {
            padding-block: .6rem;
        }
    }


    
    nav {
        text-align: center;        


        padding-top: 1rem;


        @include mixins.md {
            display: flex;
            align-items: center;
        
            justify-content: center;
            justify-content: space-between;
            text-align: start;
        }
    }

    p {
        margin-block: 1rem;

        @include mixins.sm {
            text-align: center;
        }
    }


    .socials {
        a {
            $icon-width: 1.5rem;
            display: inline-block;
            
            width: $icon-width;
            aspect-ratio: 1;
            
            overflow: hidden;
            text-indent: 200%;
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
    }

    .footer_extras,
    .socials {

        
        display: flex;
        // flex-wrap: wrap;

        justify-content: center;
        margin-block: 2rem;
        
        
        @include mixins.md {
            justify-content: flex-start;
        }

        gap: 2rem;
    }


    .footer_extras,
    p {
        font-weight: 400;
        font-size: 1rem;
    }

    @include mixins.sm {

        .footer_extras {
            flex-direction: column;
            text-align: center;
            gap: 1rem;
        }
    }
}


.mv,
.rg,
.hero,
.about,
.kickoff,
.live_scores,
.articles,
.projects,
.events,
.partners {
    @include mixins.container;
    background-repeat: no-repeat;
    background-size: cover;   
}


.partners-wrapper {
    // background-color: red;


    ul {        
        display: flex;
        // justify-content: center;
        column-gap: 3rem;
        row-gap: 2rem;
        flex-wrap: wrap;


        @include mixins.md {
            column-gap: 5rem;
        }
        
        li {
            // border: 1px solid red;
            width: 7rem;
            max-width: 100%;
        }
    }
}

.mv {
    
    background-image: url("/mv-bg.jpeg");
    background-position: center 80%;
    min-height: 100vh;

    @include mixins.fonts($family: $montserrat-font, $weight: 600);
    color: $clr-text-light;

    p {
        font-size: 1rem;
        line-height: 1.82875;
        
        @include mixins.md {
            font-size: 1.5rem;
        }
    }


    hr {
        margin-block: 1.2rem;
    }

    
    &-wrapper {
        background-color: $clr2;

        border-radius: 1rem;

        text-align: center;

        margin-inline: auto;
        
        position: relative;


        padding: 1rem;

        top: 30rem;
        
        @include mixins.md {
            top: 35rem;
            width: 80%;
            padding: 1.5rem 5rem;
        }
    }

}


.rg {
    background-image: url("/rg-bg.jpeg");
    background-position: center 40%;
    min-height: 80vh;

    background-color: rgb(40, 95, 7);
    background-blend-mode: multiply;

    padding: 0 !important;

    display: flex;
    align-items: flex-end;

    @include mixins.sm {
        background-position: center !important;
        background-size: cover;
    }

    @include mixins.fonts($family: $inter-font, $weight: 500);
    color: $clr-text-light;

    h2 {
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 1.875rem;
        
        @include mixins.md {
            font-size: 3rem;
            line-height: 1.5rem;
        }
    }

    p {
        font-size: 0.875rem;
        @include mixins.md {
            font-size: 1.25rem;
        }
    }
    
    &-wrapper {

        text-align: center;
        
        margin-inline: auto;
        padding: 2rem;

        @include mixins.sm {
            .btn {
                width: 100%;
            }
        }

        @include mixins.md {
            padding: 2rem 15rem;
            padding-bottom: 3.7rem;
        }
    }


}


.hero {
    background-image: url("/hero-bg.jpeg");
    background-position: center 60%;
    min-height: 90vh;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, hsla(98, 47%, 24%, 1), hsla(0, 0%, 100%, .5));
        mix-blend-mode: multiply;
    }

    display: flex;
    align-items: flex-end;

    color: $clr-text-light;

    &-wrapper {
        padding: .2rem;
        text-align: center;
        z-index: 1;

        @include mixins.md {
            padding: 1rem;
        }
    }

    h1 {
        @include mixins.fonts($family: $inria-font, $weight: 700);
        font-size: 3rem !important;
        margin-bottom: 1rem;
        
        line-height: 2.74375rem;
        
        span {
            font-size: 1rem;
            line-height: 1.357rem;
            display: block;
        }
        
        @include mixins.md {
            font-size: 8rem !important;
            line-height: 7.316875rem;

            span {
                font-size: 1.5rem;
                line-height: 2.0625rem;
            }
        }
    }

    .btn {
        &:first-of-type {
            margin-right: 0;
            margin-bottom: 1rem;
        }

        @include mixins.sm {
            width: 100%;
        }
    }


    @include mixins.md {

        &-wrapper {
            padding: 3rem;
            text-align: start;
        }
        h1 {
            font-size: 7.5rem;
        }
    
        p {
            font-size: 1.5rem;
            margin-block: -1rem 2rem;
        }

        .btn {
            &:first-of-type {
                margin-right: 1rem;
            }
        }
    }

}

.about-wrapper {
    @include mixins.md {
        display: flex;
        .content {
            width: 60%;

            top: -4rem;
            right: -7.5rem;
            border-bottom-right-radius: 0rem !important;

            padding-top: 5rem 4rem;
            padding-inline: 4rem;
        }
    }
    
    .feature-img {
        height: 10rem;
        width: 40rem;
        max-width: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }


    @include mixins.fonts($family: $montserrat-font);
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;

        line-height: 1.75rem;

        @include mixins.md {
            font-size: 2.5rem;
            text-align: start;
        }
    }
    
    p {
        font-size: 0.875rem;
        line-height: 1.8rem;
        font-weight: 500;
        text-align: justify;
        line-height: 1.8125rem;

        @include mixins.md {
            font-size: 1rem;
        }
    }

    .content {
        background-color: $clr1;
        color: $clr-text-1;
        position: relative;

        // padding: 5rem 4rem;
        padding-block: 3rem 4rem;
        padding-inline: 1rem;

        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        @include mixins.md {
            padding-inline: 2rem;
        }
    }
}


.kickoff-wrapper {
    @include mixins.fonts($family: $montserrat-font);

    // color: hsla(217, 19%, 27%, 1);

    h1 {
        color: $clr-text-6;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem;

        @include mixins.md {
            font-size: 2.5rem;
        }
    }


    h2 {
        font-weight: 500;
        font-size: 1.125rem;
        // margin-top: 1.2rem;
        margin-bottom: .8rem;

        line-height: 1.5rem;

        color: $clr-text-2;

        @include mixins.md {
            font-size: 1.5rem;
        }
    }

    p {
        font-size: 0.875rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;
        font-size: 500;

        color: $clr-text-3;
    }

    a {
        width: 100%;
        text-align: center;
        border: .5px solid $clr2;

        @include mixins.fonts($family: $inter-font, $weight: 500);
        line-height: 1.5rem;
        font-size: .875rem;
        color: $clr-text-4;
    }


    article {

        width: 25rem;
        // height: max-content;
        min-height: 30rem;
        background-color: $clr-text-light;
        // box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

        @include mixins.box-shadow();

        // overflow: hidden;

        border-radius: .5rem;

        .img {
            border-top-right-radius: .5rem;
            border-top-left-radius: .5rem;
            width: 100%;
            height: 20rem;
            max-height: 70%;
            background-position: center 60%;
            background-repeat: no-repeat;
            background-size: cover;

            overflow: hidden;
        }

        .details {
            padding: 2rem;
        }   
    }

    .content {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }
}


.live_scores {

    @include mixins.fonts($family: $montserrat-font, $weight: 600);

    h2 {
        font-size: 1.25rem;
        text-transform: uppercase;
        @include mixins.fonts($family: $montserrat-font, $weight: 600);

        @include mixins.md {
            font-size: 2rem;
            line-height: 1.5rem;
        }
    }

    $padding-inline: 2rem;


    hr {
        display: block;
        margin-block: 1rem;
        position: relative;
        top: -1rem;
        border-color: $clr1;
    }

    .score-table {
        border-bottom: 1px solid $clr-hr;
        margin-bottom: 2rem;
    }


    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mixins.fonts($family: $montserrat-font, $weight: 600);

        background-color: $clr3;

        padding-block: 1rem;
        padding-inline: $padding-inline;
        
        border-radius: 1rem;
        color: $clr-text-light;


        // font-size: 0.25rem;
        line-height: 1.5rem;

        span {
            font-size: .75rem;
        }
        
        a {
            color: inherit;
            font-size: .75rem;
        }
        
        @include mixins.md {
            padding-inline: $padding-inline;

            span {
                font-size: 1.5rem;
            }

            a {
                font-size: 1rem;
            }
        }
    }


    span {
        @include mixins.fonts($montserrat-font, $weight:600);
        font-size: 1rem;
        line-height: 1.5rem;


        &.simple {
            font-weight: 500;
            font-size: 1.25rem;
            display: none;

            @include mixins.md {
                display: block;
            }
        }
    }

    &-wrapper {
        background-color: hsla(98, 49%, 51%, 1);

        padding: 1.5rem;
        border-radius: 2rem;

        @include mixins.md {
            padding: 3rem;
        }
    }


    .caution {
        display: block;
        width: 2rem;
        height: 2rem;

        background-image: url("/icons/caution.svg");
        background-repeat: no-repeat;
        background-position: center;
    }


    .listing {
        padding-inline: $padding-inline;
        padding-block: 1rem 0;

        display: flex;


        @include mixins.md {
            padding-block: 2rem 0;
        }
        
        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: 70%;
        }

        hr {
            align-self: center;
            display: block;
            margin-inline: 2rem 0.5rem;
            border-color: $clr1;
            height: 5rem;

            @include mixins.md {
                margin-inline: 4rem 2rem;
            }
        }


        .caution {
            align-self: center;
            position: relative;
            top: -1.2rem;
            // background-color: red;
        }

        .list-item {
            
            width: 100%;
            padding: .4rem;

            text-align: start;

            display: flex;
            justify-content: space-between;
            
            @include mixins.md {
                display: grid;
                grid-template-columns: 1fr 1fr 2fr;
            }

            
            & > div {
                display: flex;
                // background-color: green;
                justify-content: space-between;

                span:not(:first-of-type) {
                    display: none;

                    @include mixins.md {
                        display: block;
                    }
                }
            }

        }
    }
}



.articles-wrapper {
    a {
        text-decoration: none;
        color: inherit;
    }
    
    .content {
        
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;

        justify-content: center;
        
        @include mixins.md {
            justify-content: flex-start;
        }
    }

    article {

        width: 20rem;
        height: 18rem;
        @include mixins.box-shadow;

        border-radius: .5rem;

        .img {
            border-top-right-radius: .5rem;
            border-top-left-radius: .5rem;
            width: 100%;
            height: 10rem;
            max-height: 70%;
            background-position: center 60%;
            background-repeat: no-repeat;
            background-size: cover;

            overflow: hidden;
        }

        .details {
            padding: 1rem;
        }

        @include mixins.fonts($family: $inter-font, $weight: 400);
        
        color: $clr-text-5;

        h2, .date{
            
            font-size: 0.75rem;
            line-height: 1.5rem;
        }
        
        p {
            &:not(.date) {
                color: $clr-text-1;
            }
            font-weight: 500;
            font-size: 1rem;
            margin-block: .7rem;
        }
    }
}


.projects-wrapper {
    .content {
        margin-top: 2rem;

        

        .project-item {
            display: flex;
            align-items: flex-end;
            width: 13rem;
            aspect-ratio: 1;

            border-radius: .9rem;
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            text-decoration: none;

            // background-color: hsla(98, 60%, 19%, 1);
            // background-blend-mode: multiply;
            color: whitesmoke;
            font-weight: 700;

            padding: 1rem;

            position: relative;

            overflow: hidden;


            span {
                z-index: 1;
            }


            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 100%;
                background-image: linear-gradient(to top, hsla(98, 60%, 19%, 1), hsla(0, 0%, 100%, 1));
                mix-blend-mode: multiply;
            }


            @include mixins.sm {
                margin-inline: auto;
                
                margin-block: 2rem;
            }
        }


        @include mixins.md {
            display: flex;
            gap: 2rem;
        }
    }
}

.events-wrapper {
    a {
        text-decoration: none;
        color: inherit;
    }

    .content {

        article {
            
            
            
            margin-inline: auto;
            height: max-content;
            
            background-color: whitesmoke;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

            border-radius: .5rem;


            color: hsla(217, 19%, 27%, 1);
            // background-color: red !important;
            
            @include mixins.md {
                max-width: 80%;

                display: flex;
                align-items: center;
                min-width: 45rem;
                height: 14rem;
            }

            .img {
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
                width: 100%;
                height: 15rem;
                // max-height: 70%;
                background-position: center 60%;
                background-repeat: no-repeat;
                background-size: cover;

                overflow: hidden;

                @include mixins.md {
                    width: 20rem;
                    height: 100%;

                    border-top-left-radius: .5rem;
                    border-bottom-left-radius: .5rem;
                }
            }

            .details {
                padding: 1.2rem;
                
                @include mixins.md {
                    padding: 1rem;
                    padding-left: 3rem;
                }
            }

            h2 {
                font-size: 1.2rem;
                // color: $clr-text-5;
                margin-bottom: .8rem;
                font-weight: 500;
            }

            p {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }

        
    }
}
