
@use "./variables" as *;
@use "./mixins" as mixins;
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./reset";
@import "./utils";



.under-construction {
    background-color: $clr4;
    

    padding-top: 5rem;

    color: $clr-text-light;
    text-align: center;
    @include mixins.fonts($family: $inria-font, $weight: 700);

    height: max-content;

    
    @include mixins.least-large-screen {
        height: 100vh;
        overflow: hidden;
    }
    
    h1 {
        // font-size: 8rem;
        font-size: clamp(2.5rem, 12vw, 8rem);
        // line-height: 7.316875rem;
        line-height: clamp(2.31125rem, 10vw ,7.316875rem);
    }

    p {
        font-size: 1.5rem;
        line-height: 2.0625rem;
        margin-block: 1.5rem;
    }

    .ud-img {
        width: 60rem;
        height: 65vh;

        max-width: 100%;

        margin-inline: auto;
        background-color: $clr3;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        border-radius: 1rem 1rem 0 0;

        @include mixins.least-small-screen {
            height: 100vh !important;
            // display: none;
        }

    }
}




header {

    position: sticky;
    top: 0;
    background-color: $clr-text-light;

    ul {
        // display: flex;
        // gap: 2rem;
        a {
            text-decoration: none;
            color: $clr-text-1
        }
    }
}


.header-top,
.header-wrapper {
    padding-inline: calc($body-padding / 3);

    @include mixins.least-large-screen {
        padding-inline: $body-padding;

        @include mixins.large-screen {
            padding-inline: calc($body-padding / 3);
        }
    }
}


.header-top {
    background-color: $clr1;
    
    
    display: block;
    padding-block: calc($body-padding / 5);
    
    

    a {
        color: $clr-text-light;
        @include mixins.fonts($family: $inter-font);
    }

    ul {
        display: flex;
        gap: 2rem;
    }

    @include mixins.least-small-screen {
        display: none;
    }
}


.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: calc($body-padding / 3);

    nav {
        margin-left: auto;
        display: none;
        // opacity: 0;


        align-items: center;

        flex-grow: 1;

        justify-self: stretch;

        transition: opacity 500ms ease;

        
        ul {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            gap: 2rem;
        }

        .submenu {
            display: none;

            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
            position: absolute;
            background-color: $clr-text-light;

            top: 5rem;
            // left: 0;
            width: 28rem;
            max-width: 80%;

            border-radius: 1rem;

            padding: 1.7rem;

            hr {
                border-color: $clr-text-dark;
                margin-block: 1.5rem;
            }

            h3 {
                @include mixins.fonts($family: $inria-font);
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 1.49875rem;
                color: $clr-text-9;
            }
            
            p {
                @include mixins.fonts($family: $inria-font);
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 1.2025rem;

                margin-top: .8rem;
            }

        }

        @include mixins.least-large-screen {
            // padding-inline: $body-padding;
            display: flex;
            position: relative;

            ul {
                gap: clamp(1rem, 5vw, 2rem);


                & > li:has(.submenu) {
                    &:hover {

                        .submenu {
                            display: block;
                        }
                    }
                }
            }

        }
    }


    .links {
        @include mixins.fonts($family: $inria-font);
        font-size: clamp(.5rem, 2vh, 1.5rem);
    }

    .cta {
        display: flex;
        gap: 1rem;
    }

}


.header-wrapper {
    .menu {
        @include mixins.least-large-screen {
            display: none;
        }
    }

    
    @include mixins.least-medium-screen {
        
        nav {
            display: block;
            position: fixed;
            background-color: $clr-text-light;

            // visibility: 0;
            opacity: 0;
            z-index: 0;
    
            top: 5rem;
            left: 0;
            right: 0;
            bottom: 0;
    
            padding-inline: calc($body-padding / 2);
    
            ul {
                display: block;
                flex-direction: column;
    
                li {
                    padding-block: 1.6rem;
                    font-size: 1.3rem;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    a {
                        @include mixins.fonts($family: $inter-font, $weight: 500);
                        color: $clr-text-8 !important;
                    }

                    &::after {
                        content: "";
                        background-image: url("/icons/cheveron-3.svg");
                        background-position: center;
                        background-repeat: no-repeat;

                        display: block;

                        width: 2rem;
                        height: 2rem;


                    }
                }
    
            }
    
            .cta {
                display: block;
                text-align: center;
    
                .btn {
                    display: block;
                    margin-block: 1rem;
                }
            }
    
    
            @include mixins.medium-screen {
                top: 7.9rem;
            }
        }
        // position: relative;

        &:has(input[type="checkbox"]:checked) {
            nav {
                opacity: 1;
                z-index: 1;
            }
        }
    }
}



footer {
    @include mixins.container;

    font-size: 1.2rem;
    color: $clr-text-3;
    @include mixins.fonts($family: $inter-font, $weight: 400);

    a {
        text-decoration: none;
        color: inherit;
    }


    h3 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-block: 1rem;

        color: $clr-text-1;
    }



    @include mixins.least-large-screen {
        .footer-wrapper {
            width: 50%;
        }
    }

    .logo {
        width: 5rem;
        @include mixins.least-small-screen {
            // width: 4rem;
            margin-inline: auto;
        }
    }





    ul {
        li {
            padding-block: .6rem;
        }
    }


    
    nav {
        text-align: center;        


        padding-top: 1rem;


        @include mixins.least-large-screen {
            display: flex;
            align-items: center;
        
            justify-content: center;
            justify-content: space-between;
            text-align: start;
        }
    }

    p {
        margin-block: 1rem;

        @include mixins.least-small-screen {
            text-align: center;
        }
    }


    .socials {
        a {
            $icon-width: 1.5rem;
            display: inline-block;
            
            width: $icon-width;
            aspect-ratio: 1;
            
            overflow: hidden;
            text-indent: 200%;
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
    }

    .footer_extras,
    .socials {

        
        display: flex;
        // flex-wrap: wrap;

        justify-content: center;
        margin-block: 2rem;
        
        
        @include mixins.least-large-screen {
            justify-content: flex-start;
        }

        gap: 2rem;
    }


    .footer_extras,
    p {
        font-weight: 400;
        font-size: 1rem;
    }

    @include mixins.least-small-screen {

        .footer_extras {
            flex-direction: column;
            text-align: center;
            gap: 1rem;
        }
    }
}


.mv,
.rg,
.hero,
// .about,
.kickoff,
.live_scores,
.articles,
.projects,
.events,
.partners {
    @include mixins.container;
    background-repeat: no-repeat;
    background-size: cover;   
}


.partners-wrapper {    

    ul {
        display: flex;        
        column-gap: 3rem;
        row-gap: 2rem;
        flex-wrap: wrap;

        @include mixins.least-large-screen {
            column-gap: 5rem;
        }

        li {

            width: 10rem;
            max-width: 100%;
        }
    }
}

.mv {
    
    background-image: url("/mv-bg.jpeg");
    background-position: center 80%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    

    @include mixins.fonts($family: $montserrat-font, $weight: 600);
    color: $clr-text-light;

    p {
        font-size: 1rem;
        line-height: 1.82875;
        
        @include mixins.least-large-screen {
            font-size: 1.5rem;
        }
    }


    hr {
        margin-block: 1.2rem;
    }


    &-wrapper {
        background-color: $clr2;

        border-radius: 1rem;

        text-align: center;

        margin-inline: auto;

        padding: 1rem;
    

        @include mixins.least-large-screen {
            // top: 35rem;
            width: 80%;
            padding: 1.5rem 5rem;
        }
    }

}


.rg {
    background-image: url("/rg-bg.jpeg");
    background-position: center 40%;
    min-height: 80vh;

    background-color: rgb(40, 95, 7);
    background-blend-mode: multiply;

    padding: 0 !important;

    display: flex;
    align-items: flex-end;

    @include mixins.least-small-screen {
        background-position: center !important;
        background-size: cover;
    }

    @include mixins.fonts($family: $inter-font, $weight: 500);
    color: $clr-text-light;

    h2 {
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 1.875rem;
        
        @include mixins.least-large-screen {
            font-size: 3rem;
            line-height: 1.5rem;
        }
    }

    p {
        font-size: 0.875rem;
        @include mixins.least-large-screen {
            font-size: 1.25rem;
        }
    }
    
    &-wrapper {

        text-align: center;
        
        margin-inline: auto;
        padding: 2rem;

        @include mixins.least-small-screen {
            .btn {
                width: 100%;
            }
        }

        @include mixins.least-large-screen {
            padding: 2rem 15rem;
            padding-bottom: 3.7rem;
        }
    }


}


.hero {
    background-image: url("/hero-bg.jpeg");
    background-position: center 60%;
    min-height: 90vh;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, hsla(98, 47%, 24%, 1), hsla(0, 0%, 100%, .5));
        mix-blend-mode: multiply;

    }

    display: flex;
    align-items: flex-end;

    color: $clr-text-light;

    &-wrapper {
        padding: .2rem;
        text-align: center;
        z-index: 1;

        @include mixins.least-large-screen {
            padding: 1rem;
        }
    }

    h1 {
        @include mixins.fonts($family: $inria-font, $weight: 700);
        font-size: 3rem !important;
        margin-bottom: 1rem;
        
        line-height: 2.74375rem;
        
        span {
            font-size: 1rem;
            line-height: 1.357rem;
            display: block;
        }
        
        @include mixins.least-large-screen {
            font-size: 8rem !important;
            line-height: 7.316875rem;

            span {
                font-size: 1.5rem;
                line-height: 2.0625rem;
            }
        }
    }

    .btn {
        &:first-of-type {
            margin-right: 0;
            margin-bottom: 1rem;
        }

        @include mixins.least-small-screen {
            width: 100%;
        }
    }


    @include mixins.least-large-screen {

        &-wrapper {
            padding: 3rem;
            text-align: start;
        }
        h1 {
            font-size: 7.5rem;
        }
    
        p {
            font-size: 1.5rem;
            margin-block: -1rem 2rem;
        }

        .btn {
            &:first-of-type {
                margin-right: 1rem;
            }
        }
    }

}

.about-wrapper {
    overflow: hidden;
    width: 100%;

    @include mixins.fonts($family: $montserrat-font);
    .feature-img {
        height: 10rem;
        width: 100rem;
        max-width: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        margin-inline: auto;
    }


    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;

        line-height: 1.75rem;

        @include mixins.least-large-screen {
            font-size: 2.5rem;
            text-align: start;
        }
    }
    
    p {
        font-size: 0.875rem;
        line-height: 1.8rem;
        font-weight: 500;
        text-align: justify;
        line-height: 1.8125rem;

        @include mixins.least-large-screen {
            font-size: 1rem;
        }
    }

    .content {
        background-color: $clr1;
        color: $clr-text-1;
        position: relative;

        // padding: 5rem 4rem;
        padding: 2rem 1.5rem;

        

        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        max-width: 95%;

        margin-inline: auto;        
    }

    @include mixins.least-large-screen {
        display: flex;
        align-items: center;

        gap: 5rem;


        .content {
            padding: 3rem;
            border-radius: 0 0 0 1rem;
        }
    }
}


.kickoff-wrapper {
    @include mixins.fonts($family: $montserrat-font);

    h1 {
        color: $clr-text-6;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem;

    }
    
    
    @include mixins.least-large-screen {
        h1 {
            font-size: 2.5rem;
        }

        .content {
            display: flex;
            gap: 2rem;
            // row-gap: 3rem;
            flex-wrap: wrap;
        }
    }

    @include mixins.medium-screen {
        h1 {
            font-size: 2rem;
        }

        .content {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            article{
                width: 23rem;
                &:nth-last-child(-n+3) {
                    margin-right: auto;
                }
            }
        }
    }

    @include mixins.least-small-screen {
        

        article {
            width: 100% !important;

            &:not(:last-of-type) {
                margin-bottom: 2rem;
            }
        }
    }

    h2 {
        font-weight: 500;
        font-size: 1.125rem;
        // margin-top: 1.2rem;
        margin-bottom: .8rem;

        line-height: 1.5rem;

        color: $clr-text-2;

        @include mixins.least-large-screen {
            font-size: 1.5rem;
        }
    }

    p {
        font-size: 0.875rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;
        font-size: 500;

        color: $clr-text-3;
    }

    a {
        width: 100%;
        text-align: center;
        border: .5px solid $clr2;

        @include mixins.fonts($family: $inter-font, $weight: 500);
        line-height: 1.5rem;
        font-size: .875rem;
        color: $clr-text-4;
    }


    article {

        width: 25rem;
        min-height: 30rem;
        background-color: $clr-text-light;
        @include mixins.box-shadow();

        border-radius: .5rem;

        .img {
            border-top-right-radius: .5rem;
            border-top-left-radius: .5rem;
            width: 100%;
            height: 20rem;
            max-height: 70%;
            background-position: center 60%;
            background-repeat: no-repeat;
            background-size: cover;

            overflow: hidden;
        }

        .details {
            padding: 2rem;
        }   
    }

}


.live_scores {

    @include mixins.fonts($family: $montserrat-font, $weight: 600);

    h2 {
        font-size: 1.25rem;
        text-transform: uppercase;
        @include mixins.fonts($family: $montserrat-font, $weight: 600);

        @include mixins.least-large-screen {
            font-size: 2rem;
            line-height: 1.5rem;
        }
    }

    $padding-inline: 2rem;


    hr {
        display: block;
        margin-block: 1rem;
        position: relative;
        top: -1rem;
        border-color: $clr1;
    }

    .score-table {
        border-bottom: 1px solid $clr-hr;
        margin-bottom: 2rem;
    }


    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mixins.fonts($family: $montserrat-font, $weight: 600);

        background-color: $clr3;

        padding-block: 1rem;
        padding-inline: $padding-inline;
        
        border-radius: 1rem;
        color: $clr-text-light;


        // font-size: 0.25rem;
        line-height: 1.5rem;

        span {
            font-size: .75rem;
        }
        
        a {
            color: inherit;
            font-size: .75rem;
        }

        @include mixins.least-medium-screen {
            span {
                font-size: 1.2rem;
            }
            a {
                font-size: 1rem;
            }
        }
        
        @include mixins.least-large-screen {
            padding-inline: $padding-inline;

            span {
                font-size: 1.5rem;
            }

            a {
                font-size: 1rem;
            }
        }
    }


    span {
        @include mixins.fonts($montserrat-font, $weight:600);
        font-size: 1rem;
        line-height: 1.5rem;


        &.simple {
            font-weight: 500;
            font-size: 1.25rem;
            display: none;

            @include mixins.least-large-screen {
                display: block;
            }
        }
    }

    &-wrapper {
        background-color: hsla(98, 49%, 51%, 1);

        padding: 1.5rem;
        border-radius: 2rem;

        @include mixins.least-large-screen {
            padding: 3rem;
        }
    }


    .caution {
        display: block;
        width: 2rem;
        height: 2rem;

        background-image: url("/icons/caution.svg");
        background-repeat: no-repeat;
        background-position: center;
    }


    .listing {
        padding-inline: $padding-inline;
        padding-block: 1rem 0;

        display: flex;


        @include mixins.least-large-screen {
            padding-block: 2rem 0;
        }
        
        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: 70%;
        }

        hr {
            align-self: center;
            display: block;
            margin-inline: 2rem 0.5rem;
            border-color: $clr1;
            height: 5rem;

            @include mixins.least-large-screen {
                margin-inline: 4rem 2rem;
            }
        }


        .caution {
            align-self: center;
            position: relative;
            top: -1.2rem;
            // background-color: red;
        }

        .list-item {
            
            width: 100%;
            padding: .4rem;

            text-align: start;

            display: flex;
            justify-content: space-between;
            
            @include mixins.least-large-screen {
                display: grid;
                grid-template-columns: 1fr 1fr 2fr;
            }

            
            & > div {
                display: flex;
                // background-color: green;
                justify-content: space-between;

                span:not(:first-of-type) {
                    display: none;

                    @include mixins.least-large-screen {
                        display: block;
                    }
                }
            }

        }
    }
}



.articles-wrapper {
    position: relative;
    // background-color: red;


    a {
        text-decoration: none;
        color: inherit;
    }


    article {

        width: 20rem;
        height: 18rem;
        // @include mixins.box-shadow();
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

        margin-block: 1rem;
        
        border-radius: .5rem;


        @include mixins.least-small-screen {
            margin-inline: auto;
        }

        .img {
            border-top-right-radius: .5rem;
            border-top-left-radius: .5rem;
            width: 100%;
            height: 10rem;
            max-height: 70%;
            background-position: center 60%;
            background-repeat: no-repeat;
            background-size: cover;

            overflow: hidden;
        }

        .details {
            padding: 1rem;
        }

        @include mixins.fonts($family: $inter-font, $weight: 400);
        
        color: $clr-text-5;

        h2, .date{
            
            font-size: 0.75rem;
            line-height: 1.5rem;
        }
        
        p {
            &:not(.date) {
                color: $clr-text-1;
            }
            font-weight: 500;
            font-size: 1rem;
            margin-block: .7rem;
        }
    }

    // background-color: red;
    padding-bottom: 4rem;
}


.projects-wrapper {

    position: relative;



    .project-item {
        display: flex;
        align-items: flex-end;
        width: 27rem;

        height: 25rem;

        // margin-inline: 5rem;
        max-width: 100%;

        border-radius: .9rem;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        text-decoration: none;

        color: $clr-text-light;
        @include mixins.fonts($family: $montserrat-font, $weight: 600);

        padding: 1rem;

        position: relative;

        overflow: hidden;


        span {
            z-index: 1;
        }


        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, hsla(98, 60%, 19%, 1), hsla(0, 0%, 100%, 1));
            mix-blend-mode: multiply;
        }


        @include mixins.least-small-screen {
            margin-inline: auto;
            
            margin-block: 2rem;
        }
    }
}

.events-wrapper {
    a {
        text-decoration: none;
        color: inherit;
    }

    article {
        
        
        
        margin-inline: auto;
        height: max-content;
        
        background-color: $clr-text-light;
        @include mixins.box-shadow;

        border-radius: .5rem;
        
        @include mixins.least-large-screen {
            max-width: 80%;

            display: flex;
            align-items: center;
            min-width: 45rem;
            height: 14rem;
        }

        .img {
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
            width: 100%;
            height: 15rem;
            // max-height: 70%;
            background-position: center 60%;
            background-repeat: no-repeat;
            background-size: cover;

            overflow: hidden;

            @include mixins.least-large-screen {
                width: 20rem;
                height: 100%;

                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
            }
        }

        .details {
            padding: 1.2rem;
            
            @include mixins.least-large-screen {
                padding: 1rem;
                padding-left: 3rem;
            }
        }


        @include mixins.fonts($family: $inter-font, $weight: 600);
        color: $clr-text-2;

        h3 {
            font-size: 1.25rem;
            line-height: 1.5rem;

            margin-bottom: .8rem;

            @include mixins.least-large-screen {
                font-size: 2rem;
            }
        }

        p {
            font-size: .875rem;
            margin-bottom: 1rem;
            font-weight: 400;


            &.date {
                color: $clr-text-7;
                font-size: 0.75rem;
                line-height: 1.5rem;
                font-weight: 500;
                @include mixins.least-large-screen {
                    font-size: 1.25rem;
                }
            }

            @include mixins.least-large-screen {
                font-size: 1.25rem;
            }
        }
    }    
}
