@font-face {
    font-family: 'Inria Sans';
    src: url('/fonts/Inria Sans-Light.woff2') format('woff2'),
        url('/fonts/Inria Sans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inria Sans';
    src: url('/fonts/Inria Sans-Book.woff2') format('woff2'),
        url('/fonts/Inria Sans-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inria Sans';
    src: url('/fonts/Inria Sans-Medium.woff2') format('woff2'),
        url('/fonts/Inria Sans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inria Sans';
    src: url('/fonts/Gotham-Bold.woff2') format('woff2'),
        url('/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}