@use "../variables" as *;
@use "../mixins" as mixins;



.btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;

    outline: 0;
    
    // min-width: var(--btn-min-width, 8.8125rem);
    width: var(--btn-width, fit-content);
    max-width: var(--btn-max-width, 100%);

    padding-block: var(--btn-padding-block, .5rem);
    padding-inline: var(--btn-padding-inline, 1rem);
    
    border-color: var(--btn-border-color, whitesmoke);
    border-style: var(--btn-border-style, solid);
    border-width: var(--btn-border-width, 0.5px);
    border-radius: var(--btn-border-radius, 4px);

    background: var(--btn-background, hsla(216, 12%, 84%, 1));
    color: var(--btn-color, $clr-text-4);

    @include mixins.box-shadow;
}


// Button
@include mixins.responsive-options('btn') {

    &-primary {
        --btn-background: hsla(209, 100%, 21%, 1);
        --btn-color: hsla(0, 0%, 100%, 1);

        --btn-border-width: 0.5px;
        --btn-border-color: hsla(216, 12%, 84%, 1);
    }

    &-light {
        box-shadow: 0 1 2px 0 rgba(6, 25, 56, 0.05);
        --btn-background: rgba(255, 255, 255, 1);
    }

    &-outline {
        --btn-border-width: 0.5px;
        --btn-border-color: hsla(216, 12%, 84%, 1);
        --btn-background: transparent;
        
    }
}