@use "../variables" as *;
@use "../mixins" as mixins;

// Display
@include mixins.responsive-options('d') {
    &-none {
        display: none !important;
    }
    &-block {
        display: block !important;
    }
    &-inline {
        display: inline !important;

        &-block {
            display: inline-block !important;
        }

        &-flex {
            display: inline-flex !important;
        }
    }

    &-flex {
        display: flex !important;
    }
}

@include mixins.responsive-options('gap') {
    &-1 {
        gap: 1rem;
    }
    &-2 {
        gap: 2rem;
    }
    &-40 {
        gap: 2.5rem;
    }
}

@include mixins.responsive-options('align') {
    &-center {
        align-items: center;
    }
    &-start {
        align-items: flex-start;
    }
    &-end {
        align-items: flex-end;
    }
}


@include mixins.responsive-options('flex') {
    &-1 {
        flex: 1;
    }
    &-column {
        flex-direction: column;
    }
    &-row {
        flex-direction: row;
    }
}
