@use "../variables" as *;
@use "../mixins" as mixins;

// Display
@include mixins.responsive-options('d') {
    &-none {
        display: none !important;
    }
    &-block {
        display: block !important;
    }
    &-inline {
        display: inline !important;

        &-block {
            display: inline-block !important;
        }

        &-flex {
            display: inline-flex !important;
        }
    }

    &-flex {
        display: flex !important;
    }
}