@use "../variables" as *;
@use "../mixins" as mixins;


// Button
@include mixins.responsive-options('mt') {
    &-1 {
        margin-top: 1.5rem;
    }
    &-2 {
        margin-top: 2.5rem;
    }
    &-3 {
        margin-top: 3.5rem;
    }

    &-11 {
        margin-top: .7rem;
    }

    &-18 {
        margin-top: 1.125rem;
    }
}

@include mixins.responsive-options('mb') {
    &-1 {
        margin-bottom: 1.5rem;
    }
    &-2 {
        margin-bottom: 2.5rem;
    }
    &-3 {
        margin-bottom: 3.5rem;
    }

    &-18 {
        margin-bottom: 1.125rem;
    }
}

@include mixins.responsive-options('my') {
    &-1 {
        margin-block: 1.5rem;
    }
    &-2 {
        margin-block: 2.5rem;
    }
    &-3 {
        margin-block: 3.5rem;
    }
    &-11 {
        margin-block: .7rem;
    }
}


@include mixins.responsive-options('pl') {
    &-1 {
        padding-left: 1.5rem;
    }
    &-2 {
        padding-left: 2.5rem;
    }
    &-3 {
        padding-left: 3.5rem;
    }
}