@use "../variables" as *;
@use "../mixins" as mixins;


@include mixins.responsive-options('text') {
    // Text align
    &-center {
        text-align: center;
    }

    &-right,
    &-end {
        text-align: right;
    }

    &-left,
    &-start {
        text-align: start;
    }

    &-justify {
        text-align: justify;
    }


    // Transform
    &-uppercase {
        text-transform: uppercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    // decoration
    &-decoration {
        &-none {
            text-decoration: none;
        }
    }


    // Style
    &-italic {
        font-style: italic;
    }

}

@include mixins.responsive-options('text-clr') {
    &-light {
        color: $clr-text-light;
    }
    &-dark {
        color: $clr-text-dark;
    }
    &-1 {
        color: $clr-text-1;
    }
    &-2 {
        color: $clr-text-2;
    }
    &-3 {
        color: $clr-text-3;
    }
    &-4 {
        color: $clr-text-4;
    }
    &-5 {
        color: $clr-text-5;
    }
    &-6 {
        color: $clr-text-6;
    }
    &-7 {
        color: $clr-text-7;
    }
    &-8 {
        color: $clr-text-8;
    }
}

@include mixins.responsive-options('bg') {
    &-light {
        background-color: $clr-text-light;
    }
    &-1 {
        background-color: $clr1;
    }
    &-2 {
        background-color: $clr2;
    }
    &-3 {
        background-color: $clr3;
    }
    &-4 {
        background-color: $clr4;
    }
    &-6 {
        background-color: $clr6;
    }
    &-7 {
        background-color: $clr7;
    }
    &-8 {
        background-color: $clr8;
    }
    &-11 {
        background-color: $clr11;
    }
}

// Font size
@include mixins.responsive-options('fs') {
    &-0 {
        font-size: 0.875rem;
    }
    &-1 {
        font-size: 1rem;
        &_2 {
            font-size: 1.25rem;
        }
        &_5 {
            font-size: 1.5rem;
        }
    }
    &-2 {
        font-size: 2rem;
    }
    &-3 {
        font-size: 3rem;
    }
    &-7 {
        font-size: 7.5rem;
    }
    &-8 {
        font-size: 8rem;
    }

    &-12 {
        font-size: 0.75rem;
    }
    &-14 {
        font-size: 0.875rem;
    }
    &-16 {
        font-size: 1rem;
    }
    &-18 {
        font-size: 1.125rem;
    }
    &-19 {
        font-size: 1.1875rem;
    }
    &-20 {
        font-size: 1.25rem;
    }
    &-24 {
        font-size: 1.5rem;
    }
    &-28 {
        font-size: 1.75rem;
    }
    &-32 {
        font-size: 2rem;
    }
    &-36 {
        font-size: 2.25rem;
    }
    &-40 {
        font-size: 2.5rem;
    }

    &-48 {
        font-size: 3rem;
    }

    &-96 {
        font-size: 6rem;
    }

    &-100 {
        font-size: 6.25rem;
    }

    &-128 {
        font-size: 8rem;
    }
}


// Line height
@include mixins.responsive-options('lh') {
    &-1 {
        line-height: 1.8125rem;
    }
    &-2 {
        line-height: 2.0625rem;
    }
    &-7 {
        line-height: 7.316875rem;
    }

    &-16 {
        line-height: 1.05875rem;
    }
    &-17 {
        line-height: 1.0625rem;

        &_07 {
            line-height: 1.066875rem;
        }
    }
    &-19 {
        line-height: 1.21875rem;
    }
    &-20 {
        line-height: 1.25rem;
    }
    &-24 {
        line-height: 1.5rem;

        &_38 {
            line-height: 1.52375rem;
        }
    }
    &-25 {
        line-height: 1.5625rem;
    }
    &-26 {
        line-height: 1.625rem;
    }

    &-28 {
        line-height: 1.75rem;
    }
    &-29 {
        line-height: 1.82875rem;
    }

    &-33 {
        line-height: 2.118125rem;
    }

    &-36 {
        line-height: 2.28625rem;
    }

    &-37 {
        line-height: 2.3125rem;
    }

    &-39 {
        line-height: 2.438125rem;
    }

    &-41 {
        line-height: 2.5625rem;
    }

    &-43 {
        line-height: 2.74375rem;
    }

    &-48 {
        line-height: 3rem;

        &_24 {
            line-height: 3.015rem;
        }

        &_76 {
            line-height: 3.0475rem;
        }
    }

    &-54 {
        line-height: 3.375rem;
    }

    &-62 {
        line-height: 3.875rem;
    }

    &-64 {
        line-height: 4rem;

        &_32 {
            line-height: 4.02rem;
        }
    }
    
    &-91 {
        line-height: 5.71625rem;
    }
    
    &-117{
        line-height: 117.07px;
    }

}

// Font weight
@include mixins.responsive-options('fw') {
    &-300 {
        font-weight: 300;
    }
    &-400 {
        font-weight: 400;
    }
    &-500 {
        font-weight: 500;
    }
    &-600 {
        font-weight: 600;
    }
    &-700 {
        font-weight: 700;
    }
}

// Font family
@include mixins.responsive-options('ff') {
    &-gotham {
        font-family: $gotham-font;
    }

    &-montserrat {
        font-family: $montserrat-font;
    }

    &-inter {
        font-family: $inter-font;
        font-variation-settings: "slnt" 0;
    }

    &-poppins {
        font-family: $poppins;
    }

    &-inria-sans,
    &-inria {
        font-family: $inria-font;
        // font-variation-settings: "slnt" 0;
    }
}
